<template>
    <div class="AbilityList">
        <Ability
          v-for="ability in abilities"
          :key="ability.name"
          :name="ability.name"
          :value="ability.value"
          :max="ability.max"
          @roll-done="rollDone"
        />
    </div>
</template>

<script>
import Ability from './Ability.vue';

export default {
  components: {
    Ability,
  },
  data() {
    return {
      abilities: [
        { name: 'Strenght', value: 0, max: false },
        { name: 'Dexterity', value: 0, max: false },
        { name: 'Constitution', value: 0, max: false },
        { name: 'Intelligence', value: 0, max: false },
        { name: 'Wisdom', value: 0, max: false },
        { name: 'Charisma', value: 0, max: false },
      ],
    };
  },
  methods: {
    rollDone(name, score) {
      const changed = this.abilities.findIndex(element => element.name === name);
      this.abilities[changed].value = score;
      const max = this.abilities.reduce((a, b) => ((a.value > b.value) ? a : b));
      for (let i = 0; i < this.abilities.length; i += 1) {
        this.abilities[i].max = (this.abilities[i].value === max.value);
      }
    },
  },
};
</script>

<style scoped>
  .AbilityList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
  }
</style>
