<template>
    <div class="Ability" :class="{ max: max }">
        <h2>{{name}}</h2>
        {{value}}
        ({{modifierSign}}{{modifier}})
        <font-awesome-icon icon="dice" @click="roll" />
    </div>
</template>

<script>
export default {
  props: {
    name: String,
    value: Number,
    max: Boolean,
  },
  data() {
    return {
      score: this.value,
    };
  },
  computed: {
    modifier() {
      return Math.floor((this.score - 10) / 2);
    },
    modifierSign() {
      return (this.modifier > 0) ? '+' : '';
    },
  },
  methods: {
    roll() {
      const roll = [
        this.rollDice(),
        this.rollDice(),
        this.rollDice(),
        this.rollDice(),
      ];
      const sum = roll.reduce((a, b) => a + b);
      const min = roll.reduce((a, b) => ((a < b) ? a : b));
      this.score = sum - min;
      this.rollDone();
    },
    rollDice() {
      return Math.floor((Math.random() * 6) + 1);
    },
    rollDone() {
      this.$emit('roll-done', this.name, this.score);
    },
  },
};
</script>

<style scoped>
  h2{
    font-size: 1.2rem;
  }
  .Ability{
    padding: 2rem;
    border: 3px solid gray;
    width: 100px;
    height: auto;
    margin: 0.5rem;
  }
  .max{
    border-color: red;
  }
  .fa-dice{
    cursor: pointer;
  }
</style>
