<template>
  <div id="app">
    <h1>D<font-awesome-icon :icon="['fab', 'd-and-d']" />D Sheet Generator</h1>
    <AbilityList></AbilityList>
    <!--<img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>-->
  </div>
</template>

<script>
import AbilityList from './components/AbilityList.vue';

export default {
  name: 'app',
  components: {
    AbilityList,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
